:root {
	/* Colors */
	--accent: #e63946;
	--background: #faf9f8;
	--lightAccent: #a8dae5;
	--lighterAccent: #e6e8e4;
	--dark: #457b9d;
	--darker: #1d3557;
	--slate: #2f3948;

	--white: #fff;
	--black: #152030;

	--ink: var(--slate);
	--paper: var(--background);

	--codeFont: 'Fira Code', monospace;
}
